* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal; 
  ;
}
body{
    background-image: linear-gradient(black, purple);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    color: greenyellow;
}
h1,
h2,
.classic-game-board,
.challenge-game-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section.challenge-game{
    margin-left: 150px;
    margin-top: 100px;;
}
.human, .computer{
    width: 50px;
}
.classic-game-board{
    margin-top: 10%;
}
article{
    width: 80%;
    flex-wrap: wrap;
}
.rock,
.rock-chal{
    width: 275px;
    margin-left: 10px;
    margin-right: 10px;
}
.paper,
.paper-chal{
width: 200px;
height: 200px;
margin-left: 10px;
margin-right: 10px;
}
.scissors,
.scissors-chal{
width: 250px;
margin-left: 10px;
margin-right: 10px;

}
.lizard{
width: 350px;
margin-right: 10px;
margin-top: 60px;
}
.alien{
width: 300px;
margin-top: 60px;
margin-left: 10px;
}
.human-side,
.computer-side{
    width: 190px;
    text-align: center;
}
.hidden{
    display: none;
    visibility: none;
}
.classic,
.challenge{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    border: greenyellow solid;
}
.classic:hover,
.challenge:hover,
button:hover{
    background-color: greenyellow;
    color: purple;
    cursor:grab;
}
.classic{
    width: 300px;
    margin-left: 370px;
}
.challenge{
    width: 500px;
    margin-left: 270px;
}
button{
    background-color: purple;
    color: greenyellow;
    margin-top: 150px;
}
.game-weapons:hover,
.challenge-game:hover{
    cursor: pointer;
}
.cloned-element{
    transform: none;
    height: 200px;
}